<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.electroniccode.cooking">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="com.electroniccode.cooking.MyApplication">

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/cookit_logreg_heading" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/colorAccent" />

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-3485416724873570~4842083129"/>


        <activity android:name="com.electroniccode.cooking.TutorijalKreiranjeRecepta"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.electroniccode.cooking.ZdravaHranaViewer"
            android:theme="@style/AppTheme.NoActionBar"
            android:screenOrientation="portrait"/>
        <activity android:name="com.electroniccode.cooking.ZdravaHrana"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.electroniccode.cooking.ProfilActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.electroniccode.cooking.ReceptViewerActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.electroniccode.cooking.BugReportActivity"
            android:screenOrientation="portrait" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider" />
        </provider>

        <activity
            android:name="com.electroniccode.cooking.KreiranjeRecepta"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.electroniccode.cooking.MyFridgeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppBarStyle" />
        <activity
            android:name="com.electroniccode.cooking.RegisterActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.electroniccode.cooking.LoginRegisterActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.electroniccode.cooking.MainActivity"
            android:screenOrientation="portrait" />
    </application>

</manifest>